{% extends "base.html" %}
{% block title %}Iniciar sesion{% endblock %}

{% block content  %}
    <h1>Iniciar sesion</h1>
    
    {% if form.errors %}
        <p>
            Tu usuario o contraseña no coinciden.
            Por favor intenta de nuevo
        </p>
    {% else %}
        <p>Por favor usa el siguiente formulario para iniciar sesion</p>
        <p>si no tienes una cuenta puedes registrarte <a href=" {% url 'register' %}">aqui</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next}}">
            <p><input type="submit" value="Inicio de sesion"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">
            ¿Olvidaste tu contraseña?
        </a>
    </p>   
    </div>
{% endblock %}