{% extends "base.html" %}

{% block title %}Reinicia tu contraseña{% endblock %}

{% block content %}
  <h1>Reinicia tu contraseña</h1>
  {% if validlink %}
    <p>Por favor ingresa tu nueva contraseña  dos veces:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Cambiar mi contraseña" /></p>
    </form>
  {% else %}
    <p>El link para resetear la contraseña es invalido, posiblemente ya fue usado. Por favor solicita de nuevo reiniciar tu contraseña</p>
  {% endif %}
{% endblock %}